<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/francolenzo/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="francolenzo" />
      <add key="ClearTextPassword" value="${{secrets.GH_PACKAGES_TOKEN}}" />
    </github>
  </packageSourceCredentials>
</configuration>
